.env/
.vscode/
env
DEBUGPY_LAUNCHER_PORT=35701
/home/nico98/Programcion_1/um-programacion-i-2020/58032-Aldeco,Nicolas/tp1/.env/bin/python3
/home/nico98/.vscode/extensions/ms-python.python-2020.3.69010/pythonFiles/lib/python/debugpy/wheels/debugpy/launcher
/home/nico98/Programcion_1/um-programacion-i-2020/58032-Aldeco,Nicolas/tp1/ej1.py
